.propriedades{
    display: flex;
}
.propriedades input{
    width: 180px;
    height: 35px;
    background-color: #3BDCD2;
    border: 0;
    border-radius: 3px;
}

.propriedades #segunda-col input{
    margin-left: 10px;
}
.propriedades #segunda-col h1{
    margin-left: 10px;
}

#imagem{
    width: 125px;
    height: 125px;
   /*  background-image: url('../img/nada.png'); */
    background-size: cover;
    background-attachment: fixed;
    margin: 10px 0 0 10px;
}
img{
    width: 180px;
    height: 180px;
}
h1{
    margin-top: 15px;
    
}
