.lateral-nav{
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    width: 50px;
    bottom: 0;
    background-color: #77CFC4;
  }

.lateral-nav button{
    background-color: #77CFC4;
    width: 50px;
    height: 50px;
    border: 0;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #198A83;
}
.lateral-nav .button-menu{
    background-color: #68c3b8;
    margin: 5px 0 50px;
    font-size: 30px;
}

.lateral-nav button:hover{
    background-color: #8BE8DC;
}