.lista-produtos{
    background-color: #B8FFF7;
    padding: 0;
    width: 500px;
    height: 400px;
    border-radius: 3px;
    overflow: hidden; /* Garante que os filhos respeitem o border-radius */
    display: flex;
    flex-direction: column;
}
#topo-lista{
    display: flex;
    width: 100%;
    box-sizing: border-box;
}
h1{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #198A83;
}

#topo-lista input{
    display: flex;
    background-color: #198A83;
    flex-grow: 1; /* Faz o input crescer para ocupar o máximo de espaço */
    border: 0;
    height: 30px;
    font-size: 18px;
    color: white;
}
#topo-lista input::placeholder{
    color: #46b0a9;
}
#topo-lista input:hover{
    background-color: #189890;
}
#topo-lista button{
    background-color: #198A83;
    width: 30px;
    display: flex;
    flex-shrink: 0; /* Impede o botão de encolher */
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
#topo-lista button:hover{
    background-color: #19a097;
}
ul {
    list-style-type: none;
    padding: 5px; /* Ajuste se necessário */
    margin: 0; /* Remove a margem padrão */
    overflow-y: auto; /* Habilita a barra de rolagem vertical quando necessário */
    height: 360px;
}
li{
    border-top: .01px solid #189890;
    
    padding: 3px;
}